export(do_one_chromosome)
export(categorize_SNPs)
export(all_chromosomes)
export(calculate_snp_rate)
export(compare_background_rate)
export(prepare_genome)
export(impact_list_rates)
export(background_impact_rate)